{
  "presets": [
    [
      "env",
      {"modules": false}
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "syntax-dynamic-import"
  ]
}